.App {
  text-align: center;
  padding: 0;
}

#coll-thumbnail{
  background-repeat: no-repeat;
  background-position: center center;
  max-height: 250px;
  max-width: 400px;
  max-width: 100%;
}

.cont-full{
  min-height: 100vh;
}
.container-han{
    background-color: hsl(0, 0%, 96%)
  }
.p-intro{
  color: hsl(217, 10%, 50.8%)
}
.invert_effect {
  filter: invert(100%);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
